<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="og:site_name" content="HyatleNames">
    <title>{{title}}</title>
    <meta name="og:title" content="{{title}}">
    <meta name="twitter:title" content="{{title}}">
    <meta name="description" content="{{description}}">
    <meta name="og:description" content="{{description}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="og:image" content="https://hytalenames.org/static/favicon-96x96.png">
    <meta name="twitter:image" content="/static/apple-icon-120x120.png">
    <meta name="og:locale" content="en">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@hytalenames">
    <link rel="canonical" href="https://hytalenames.org/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


</head>
<body>
{% include "header.html" %}
<div class="mb-3" style="position: relative">


</div>
{% if not session['registred'] and session['logged_in'] %}
    <div class="alert alert-danger text-center">We have sent a confirmation email, please make sure to check it, or <a href="/send-again">send again </a></div>
    {% endif %}
{% include page %}
{% include "footer.html" %}
</main>
</body>
</html>